# Compiled class files
*.class

# Log files
*.log

# Maven
target/

# Eclipse/VSCode project files
*.iml
.project
.classpath
.settings/
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
application.properties
